/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&display=swap");

/* Cores do tema */
:root {
    --color-primary: #F16369;
    --color-secondary: #FF7F00;
    --color-bg: #f0f0f0;
    --color-text: #fff;
    --color-hover: #ddd;
}

/* Reset CSS e fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
}

/* Cabeçalho */
.header {
    position: absolute;
    background: linear-gradient(to bottom, #000000, #000000e0, #000000be, #0000008e, #00000060, transparent);
    width: 100%;
    z-index: 2;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: relative;
}

.logo img {
    max-width: 7rem;
    height: auto;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-inline: auto;
    justify-content: center;
}

.nav-list i {
    font-size: 1.0vw;
    margin-right: 10px;
}

.nav-list a {
    font-weight: bold;
    font-size: 1.2vw;
    position: relative;
    color: #ffbd58;
    text-decoration: none;
    margin-right: 25px;
}

.nav-list li:not(:last-child) a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 1px;
    height: 50px;
    background-image: linear-gradient(to bottom, transparent 5%, #ff9c08 50%, transparent 100%);
}

.nav-list a::before {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 1px;
    background: #ffbd58;
    transition: .5s;
}

.nav-list a:hover::before {
    width: 100%;
}

.icons {
    display: flex;
    gap: 30px;
}

.icons i {
    color: #ffbd58;
    font-size: 18px;
    text-decoration: none;
}

.icons i:hover {
    color: #ddd;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #ffbd58;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #ffbd58;
    margin-top: 5px;
    position: relative;
    transition: 0.1s;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #f1636a;
        clip-path: circle(20px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 30px;
        opacity: 0;
        display: flex;
        align-items: center;
    }

    .nav-list i {
        font-size: 5.2vw;
        margin-top: 5px;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s; 
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 65px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .nav-list li:not(:last-child) a::after {
        display: none;
    }

    .nav-list a {
        margin: 0;
    }
}

/* Banner */
.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5rem;
}
/* Marcas de imagem */

.container {
    margin: 70px;
}

.servicos {
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

.card {
    position: relative;
    margin: 1rem;
    max-width: 55rem;
    transition: transform .4s ease-in-out;
    overflow: hidden;
}

.card-text {
  font-family: "Changa One", cursive;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-right: 6px;
    padding-bottom: 2px;
    width: 100%;
    color: #ffffff;
    font-style: italic;
    font-size: 2.5em;
}

.card-subtitle {
  font-family: "Changa One", cursive;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 1.0em;
}

.card:hover {
    transform: scale(1.04);
}

/* Regras para telas com largura máxima de 600px */
@media (max-width: 600px) {
    .container {
        margin-top: 25px;
        margin-right: 1px;
        margin-left: 1px;
    }
    .servicos {
        flex-direction: column;
    }

    .card {
        position: relative;
        max-width: none;
        transition: none;
    }
    .card:hover {
        transform: none;
        box-shadow: none;
    }

    .card-text {
        padding: 10px;
    }
    .card-subtitle {
        padding: 10px;
    }
}

@media (max-width: 1024px) {
    .container {
        margin-top: 25px;
        margin-right: 1px;
        margin-left: 1px;
    }

    .servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        position: relative;
        max-width: auto;
        transition: none;
        width: 90%;
    }
    .card:hover {
        transform: none;
        box-shadow: none;
    }
}

/* Estilos para a imagem de sobreposição */
.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%);
}

/* Ajustes de tamanho e posicionamento da imagem de sobreposição em diferentes tamanhos de tela */
@media (min-width: 1700px) {
    .overlay-image {
        width: 100%;
        left: 22%;
        top: 45%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 1200px) {
    .overlay-image {
        width: 250%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 992px) {
    .overlay-image {
        width: 250%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .overlay-image {
        width: 250%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 600px) {
    .overlay-image {
        width: 250%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.section-container {
    text-align: center;
}

.section-title {
  font-family: "Changa One", cursive;
    font-size: 54px;
    margin: 0;
    color: #2b2c2f;
    font-weight: 1;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.menu-button.selected {
    color: #FF7F00;
    border-color: #FF7F00;
}

.menu-button {
    background-color: transparent;
    border: 2px solid #e2e3eb;
    border-radius: 20px;
    color: #e2e3eb;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 0 10px;
    font-weight: bold;
}

.menu-button:hover {
    color: #FF7F00;
    border-color: #FF7F00;
}

.menu-button:hover:not(.selected) {
    color: #FF7F00;
    border-color: #FF7F00;
}

.menu-button:focus {
    outline: none;
}

.menu-button:active {
    background-color: #FF7F00;
    color: #fff;
    border-color: #FF7F00;
}

.menu-card {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.pizza-image {
    width: 85%;
    height: auto;
    margin: 10px;
}


.pizza-content {
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 20px;
}

.icon-plus {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 25px;
    background-color: #F16369;
    border: 2px solid #F16369;
    border-radius: 90%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
}

.icon-plus:hover {
    background-color: #ee363f;
    color: white;
}

.pizza-info {
    padding: 10px;
}

.pizza-price {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

.pizza-title {
    margin-bottom: 5px;
    font-size: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

.pizza-description {
    margin-bottom: 10px;
    font-family: 'Barlow Condensed', sans-serif;
}

.menu-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-card {
    flex: 0 0 calc(25% - 40px);
    max-width: 300px;
    margin: 15px;
}

.card img {
    margin: 10px;
}

@media (max-width: 768px) {
    .menu-card {
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
}


.section-content {
  display: flex;
  justify-content: space-between;
}

.section-content select,
.section-content h3 {
  font-size: 20px;

}

.half-pizza {
  flex: 2;
}

.styled-select {
  appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  width: 50%;
  cursor: pointer;
  border-radius: 10px;
}

.styled-select option {
  padding: 10px;
  background-color: #fff;
}



.pizza-images {
  text-align: center;
  margin-top: 20px; 
}


.pizza-images img {
  max-width: 50%; 
  height: auto;
  display: inline-block; 
}

@media only screen and (max-width: 768px) {
  .styled-select {
    width: 95%; 
    max-width: 300px;

  }


}

