@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Cores do tema */
:root {
    --color-primary: #F16369;
    --color-secondary: #FF7F00;
    --color-bg: #f0f0f0;
    --color-text: #fff;
    --color-hover: #ddd;
}

/* Reset CSS e fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--color-bg);
}

/* Cabeçalho */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    height: 40%;
    width: 20%;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.cart-icon {
    color: var(--color-text);
    font-size: 18px;
    text-decoration: none;
}

.cart-icon:hover {
    color: var(--color-hover);
}

/* Banner */
.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5rem;
}

/* Marcas de imagem */
.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.brand-item:hover {
    background-color: var(--color-hover); 
}

.brand-container img {
    width: 25%
}

.brand-label {
    font-size: 30px;
    margin-left: 20px;
    color: var(--color-secondary);
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para a imagem de sobreposição */
.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Estilos para telas menores */
@media (max-width: 600px) {
    /* Seu CSS para telas menores aqui */

    /* Centralizar imagem em telas menores */
    .brand-item {
        align-items: center;
    }
}

/* Estilos para telas menores */
@media (max-width: 600px) {
    .header {
        align-items: center;
        padding: 20px;
    }

    .logo img {
        height: 25%;
        width: 25%;
    }

    .navbar {
        position: relative;
    }

    .navbar a {
        position: absolute;
        top: 0;
        right: 20px;
        transform: translateY(-50%);
    }

    .brand-container {
        flex-direction: column;
    }

    .brand-item {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .brand-container img {
        width: 35%;
    }
}

/* Ajustes de tamanho e posicionamento da imagem de sobreposição em diferentes tamanhos de tela */

@media (min-width: 1700px) {
    .overlay-image {
        width: 300%;
        left: -130%;
    }
}


@media (max-width: 1200px) {
    .overlay-image {
        width: 250%;
        left: -75%;
    }
}

@media (max-width: 992px) {
    .overlay-image {
        width: 250%;
        left: -75%;
    }
}

@media (max-width: 768px) {
    .overlay-image {
        width: 250%;
        left: -75%;
    }
}

@media (max-width: 600px) {
    .overlay-image {
        width: 250%;
        left: -75%;
    }
}
